.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-left: 18px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.header__lang-link:first-child {
  margin: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
  }
}
