.place__image {
  width: 460px;
  height: 460px;
  margin-right: 40px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .place__image {
    width: 440px;
    height: 440px;
    margin-right: 32px;
  }  
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: 340px;
    height: 340px;
    margin-right: 28px;
  }  
}

@media screen and (max-width: 767px) {
  .place__image {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    margin: 0 0 32px;
  }  
}

@media screen and (max-width: 424px) {
  .place__image {
    margin-bottom: 16px;
  }  
}