.intro__list {
  font-size: 12px;
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
}

@media screen and (max-width: 424px) {
  .intro__list {
    font-size: 10px;
    line-height: 1.5;
  }
}