.place__content {
  display: flex;
  margin-bottom: 80px;
}

@media screen and (max-width: 1023px) {
  .place__content {
    margin-bottom: 73px;
  }  
}

@media screen and (max-width: 767px) {
  .place__content {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }  
}

@media screen and (max-width: 424px) {
  .place__content {
    margin-bottom: 40px;
  }  
}