.footer__link {
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    width: 100%;
    margin: 0 0 32px;
    font-size: 24px;
  }  
}

@media screen and (max-width: 424px) {
  .footer__link {
    margin: 0 auto 14px;
    font-size: 16px;
  }
}