.footer__link {
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: opacity .2s linear;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    width: 100%;
    margin: 0 0 32px;
    font-size: 24px;
  }

  .footer__link:last-child {
    margin-bottom: 0;
  }

}
