.lead__title {
  max-width: 729px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 736px;
    font-size: 40px;
    line-height: 1.1;
    padding: 0 16px;
    margin: 0 auto 16px;
  }
}
