.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 736px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 64px 40px;
  }
}

@media screen and (max-width: 424px) {
  .lead__subtitle {
    max-width: 425px;
    font-size: 14px;
    margin: 0 0 30px;
    padding: 0 16px;
  }
}
