.lead__caption {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    max-width: 720px;
    margin: 8px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    max-width: 736px;
    margin: 8px 16px 0;
  }
}
