.cover__title {
  width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  margin: 0 0 32px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    width: 90%;
    font-size: 32px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 424px) {
  .cover__title {
    max-width: 248px;
    line-height: 1.09;
  }
}
