.intro__title {
  font-size: 54px;
  font-weight: 900;
  margin: 0 0 40px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
  }  
}

@media screen and (max-width: 424px) {
  .intro__title {
    font-size: 23px;
    margin-bottom: 20px;
  }  
}